@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: #202020;
  --text-color: #202020;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-rgb: 255, 255, 255;
    --foreground-rgb: #202020;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: #202020;
    --foreground-rgb: 255, 255, 255;
    --text-color: #f1f1f1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
